#navbar {
  list-style: none;
  font-size: 1.25rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: solid 2px var(--primary);
  padding-bottom: 0.5em;
  margin-top: 0.5em;
  height: 1.5em;
}

.navbar-item:hover {
  border-bottom: 2px solid var(--info);
}

.navbar-logout {
  margin-right: 3em;
}
